/*body{
	width: 12.8rem;
	margin: auto;
}*/
/*main css*/
.header {
	padding-top: 0.1rem;
	height: 1.2rem;
	background: #fff;
	/*border-bottom:0 0 2px rgba(0,0,0,.5);*/
}
/* nav module */
/*div.logo样式*/
.logo{
  width: 120px;
  height: 31px;
  background: #333;
  border-radius: 6px;
  margin: 16px 24px 16px 0;
  float: left;
}

/*img.log样式*/
.logo-pic{
	display: block;
	width: 100%;
	height: 100%;
}
.nav-item{
	float: left;
	font-size: 16px;
	padding: 6px;
}

.search{
	z-index: 100;
	line-height: 48px;
	padding: 5px 0;
	float: right;
}
.search__wrapper {
  position: relative;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .search__wrapper {
    min-width: 380px;
    width: 40%;

  }
}

.search__input {
  border: 1px solid #ddd;
  border-radius: 2px;
  box-sizing: border-box;
	font-size: 14px;
  margin: 0;
  outline: 0;
  padding: 0 8px;
  width: 100%;
}

.search__clear {
  padding: 0 4rem 3rem 0;
  font-size: 1.6rem;
  opacity: 0.2;
  margin-top: -4px;
}

.search__clear::before {
  content: '\00d7';
}

.search__clear,
.search__submit {
  position: absolute;
  right: 0;
  top: 3px;
  height: 100%;
  width: 3rem;
  display: block;
}

.search__submit svg {
  height: 80%;
  color: #444;
  opacity: 0.5;
}

.search__submit:hover {
  opacity: 1;
}

.search__focus {
  border-color: #ccc;
}

/*侧边导航栏+图片走马灯*/
.gallery {
  width: 100%;
}
/*清除浮动样式，添加伪类相当于在尾部创建一个子元素*/
.gallery:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
}
/*兼容IE6*/
.gallery{
	zoom: 1;
}
/*推荐模块*/
.recom-moudle{
	margin-top: 20px;
  padding: 0px 50px;
	overflow: hidden;
	background: #ececec;
}

.recom-moudle h2{
	color: #30735c;
}
/*更多*/
.more{
	color: #30735c;
	display: block;
	font-size: 14px;
	float: right;
	padding: 10px;
}
.main-content{
	background: #fff;
	padding: 24px;
	min-height: 960px;
}

.footer{
	text-align: center;
}
